:root {

    --bg: #000000;

    --surface: #040404;

    --text: #e8ffe8;

    --green: #00ff41;

    --green-light: #5eff5e;

    --green-dark: #00bb3b;

    --red: #ff4136;

    --dark-red: #c71717;

    --blue: #56b6ff;

    --yellow: #ffd54f;

    --border: #003d12;

    --gold-color: #ffae00;
    --silver-color: #d4d4d4;
    --bronze-color: #e76800;

}

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    background: var(--bg);

    color: var(--text);

    font-family: "Fira Code", monospace;

    line-height: 1.7;

    max-width: 1050px;

    margin: auto;

    padding: 45px;

    overflow-x: hidden;

}

body::before {

    content: "";

    position: fixed;

    inset: 0;

    background: radial-gradient(circle at center,
            rgba(0, 94, 23, 0.089),
            transparent 60%);

    pointer-events: none;

}

main {

    position: relative;

    border-left: 2px solid var(--green-dark);

    padding-left: 35px;

}

header {

    margin-bottom: 60px;

}

.system {

    color: var(--red);

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 12px;

}

.connection {

    color: var(--green);

    margin-bottom: 10px;

    min-height: 7rem;

}

nav {

    margin-top: 30px;

}

nav a {

    color: var(--green);

    text-decoration: none;

    margin-right: 25px;

    transition: .15s;

}

nav a:hover {

    color: var(--red);

}

h1 {

    font-size: 3.4rem;

    color: var(--green);

    margin: 30px 0;

}

h2 {

    color: var(--green-light);

    font-size: 1.5rem;

    margin: 35px 0 20px;

}

section {

    margin-bottom: 60px;

}

p {

    margin: 15px 0;

}

ul {

    list-style: none;

    margin-top: 20px;

}

li {

    margin: 8px 0;

}

li::before {

    content: "> ";

    color: var(--green);

}

.terminal {

    color: var(--text);

    margin: 30px 0 18px;

    font-weight: bold;

}

.terminal::after {

    content: "_";

    color: var(--green);

    animation: blink 1s infinite;

}

.prompt {

    color: var(--green);

}

.user {

    color: var(--green);

}

.host {

    color: var(--green);

}

.path {

    color: var(--green-light);

}

.command {

    color: var(--text);

}

.quote {

    padding-left: 18px;

    border-left: 2px solid var(--green);

    color: var(--green-light);

    font-style: italic;

    opacity: .9;

}

.project {

    background: var(--surface);

    border-left: 4px solid var(--green);

    border-top: 1px solid var(--border);

    border-right: 1px solid var(--border);

    border-bottom: 1px solid var(--border);

    padding: 22px;

    margin: 30px 0;

    transition: .2s;

}

.project:hover {

    border-left-color: var(--red);

    transform: translateX(6px);

}

.metadata {

    color: #a0dca0;

    margin: 20px 0;

}

.metadata p {

    margin: 6px 0;

}

a {

    color: var(--green);

}

a:hover {

    color: var(--red);

}

.quote cite {
    font-style: italic;
    color: #8bb68b;
}

footer {

    margin-top: 80px;

    padding-top: 25px;

    border-top: 1px solid var(--border);

    color: #8bb68b;

}

.hero {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 40px;
}

.ascii {
    white-space: pre;
    color: #00ff41;
    line-height: 1;
    margin: 0;
    flex-shrink: 0;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-info p,
.hero-info h1 {
    margin: 0;
}

.system-info {
    font-family: "Fira Code", monospace;
    list-style: none;
}

.system-info li {
    margin: 8px 0;
}

.system-info strong {
    color: var(--green);
    display: inline-block;
    width: 14ch;
}

.hyfetch-info {
    font-family: "Fira Code", monospace;
    list-style: none;
}

.hyfetch-info li {
    margin: 8px 0;
}

.hyfetch-info strong {
    color: var(--green);
    display: inline-block;
    width: 8ch;
}

.award-info li {
    margin: 8px 0;
}

.award-info strong {
    color: var(--green);
    display: inline-block;
    width: 14ch;
}

.award-info gold {
    color: var(--gold-color);
}
.award-info silver {
    color: var(--silver-color);
}
.award-info bronze {
    color: var(--bronze-color);
}

.system-end {
    color: var(--dark-red);

    animation: blink 3s infinite;
}

.dot::after {
    content: "...";
    display: inline-block;
    overflow: hidden;
    height: 2ch;
    white-space: nowrap;
    animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {
    from {
        width: 1ch;
    }

    75%,
    to {
        width: 3ch;
    }
}

@keyframes blink {

    50% {

        opacity: 0;

    }

}

@font-face {
    font-family: "Fira Code";
    src: url("fonts/FiraCode-Regular.woff2") format("woff2");
    font-weight: 400;
}